body{
    font-family: "Comic Sans MS";
    background: linear-gradient(to right, #7f00ff, #e100ff);
    color: deeppink;
}

h1 {
    text-align: center;
    color: #fff;
}

.clearfix{
    clear:both;
}

.container{
    margin: auto;
    width: 80%;
    border: 5px dotted deeppink;
    border-right: 0px;
    border-left: 0px;
    padding: 10px;
    text-align: center;
}

ul.ponys {
	min-width: 300px;
	list-style: none;
	padding-top: 20px;
    display: inline-block;
}

ul.ponys li {
   float:left;
   display: inline-block;
   padding: 10px;
   margin: 10px;
   background: #fff;
   border-radius: 20px;
}

ul.ponys li figure img{
    text-align: center;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

img:hover {
    filter: hue-rotate(180deg);
}

ul.ponys li figure figcaption {
    text-align: center;
}
